      <h3>Simple Rails Web App</h3>
      <p>Ruby2 + Rails4 + WickedPDF + WKHtmlToPdf</p>
	  
	  <a href="/home/pdfme">Generate PDF from string!</a>
	  <br>
	  <a href="/home/pdfshow">Generate PDF from html!</a>